# Ignora arquivos de compilação e diretórios
bin/
out/
.classpath
.project

# Ignora arquivos de configuração do VSCode
.vscode/
*.code-workspace

# Ignora arquivos de log
*.log

# Ignora arquivos de backup
*~

# Ignora arquivos temporários
*.tmp

# Ignora arquivos de dependência do Maven
target/
pom.xml